.container {
  display: flex;
  align-items: start;
  gap: 28px;
}

.linksContainer {
  padding: 16px;
  width: 328px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--c-def-bg);
  border-radius: var(--sp-12);
  border: 1px solid var(--c-str-light);
  position: sticky;
  top: 15px;

  a,
  button {
    padding: 13px 12px;
    text-align: left;
    color: var(--c-def-blue);
    border-radius: 8px;
  }

  .active {
    background-color: var(--c-def-blue);
    color: var(--c-def-white);
  }
}

.formsContainer {
  padding: 20px;
  width: 680px;
  border-radius: var(--sp-12);
  border: 1px solid var(--c-str-light);
  background-color: var(--c-def-bg);
  position: relative;
}
