@import "../../app/styles/vars.scss";
.wrapper {
  .container {
    .title {
      font-size: $sp-24;
      margin-bottom: $sp-32;
    }
    .questionsContainer {
      display: flex;
      flex-direction: column;
      gap: 26px;
      .otherQuestions {
        .help {
          color:$c-def-blue;
        }
      }
    }
  }
}
