.container {
  position: relative;
  display: flex;
  align-items: center;

  .arrow {
    margin-right: -24px;
  }

  .select {
    appearance: none;
    outline: none;
    border: none;
    padding: 13px 0px 13px 30px;
    background-color: transparent;
    cursor: pointer;

    option {
      color: inherit;
      font: inherit;
    }
  }
}
