@import "../../../app/styles/vars.scss";

.inputBlock {
  display: flex;
  max-width: 505px;
  width: 100%;

  .input {
    width: 100%;
    background: $c-bg-blue;
    border: 1px solid $c-str-medium;
    border-radius: 8px;
    padding: $sp-12 45px $sp-12 $sp-12;
    outline: 0px;
  }

  img {
    height: 45px;
    padding: 10px 12px 12px 10px;
  }

  .search {
    margin-left: -45px;
  }

  .hidden {
    visibility: hidden;
  }
}
