.title {
  margin-bottom: var(--sp-32);
  font-size: var(--sp-34);
  font-weight: 500;
}

.paginationContainer {
  display: flex;

  nav {
    margin-right: 0;
  }
}

.recommendedContainer {
  margin-top: 80px;
}
