.container {
  position: relative;
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 88px;
  width: 100%;
  max-height: 44px;
  padding: 12px 0px;
  cursor: pointer;
  outline: none;
  border: none;
  gap: 8px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 3;
}

.option {
  padding: 8px 16px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}
