.container {
  display: flex;
  max-width: 88px;
  width: 100%;
  max-height: 44px;
  height: 100%;
  .selectCity {
    display: flex;
    max-width: 88px;
    width: 100%;
    max-height: 44px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
