@import "../../app/styles/vars.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 88px;
  height: 100%;
  .containerTop {
    display: flex;
    gap: 64px;
    margin-bottom: 20px;
    max-height: 44px;
    height: 100%;
    .leftPart {
      display: flex;
      max-width: 552px;
      width: 100%;
      gap: 24px;
      align-items: center;
    }
    .rightPart {
      display: flex;
      align-items: center;
      gap: 64px;
      max-width: 416px;
      width: 100%;

      .rightPart_element_data {
        display: flex;
        max-width: 120px;
        width: 100%;
        max-height: 44px;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
      .rightPart_element_city {
        display: flex;
        max-width: 88px;
        width: 100%;
        max-height: 44px;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
      .rightPart_element_checkbox {
        .customCheckBox {
          max-width: 24px;
          max-height: 24px;
          width: 100%;
          height: 100%;
          background: $c-def-white;
          border: 1px solid $c-str-dark;
          border-radius: 4px;
        }
        display: flex;
        max-width: 80px;
        width: 100%;
        max-height: 44px;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }
  .filterButton {
    max-width: 657px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    display: flex;
    gap: 20px;
    .chip_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 111px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-act-blue;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
      color: $c-def-white;
    }
    .chip_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 71px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-def-purple;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
    }
    .chip_3 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 110px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-def-pink;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
    }
    .chip_4 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 105px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-def-green;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
    }
    .chip_5 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 91px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-def-orange;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
    }
    .chip_6 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 91px;
      font-size: 13px;
      border-radius: 12px;
      background: $c-ch-def-yellow;
      max-height: 24px;
      height: 100%;
      font-weight: 400;
      padding: 4px 12px;
      gap: 4px;
    }
  }
}
