.container {
  margin-bottom: var(--sp-36);
  display: flex;
  gap: var(--sp-16);
}

.avatar {
  padding: 5px;
  display: grid;
  border-radius: 8px;

  &:hover svg {
    opacity: 1;
  }

  img, svg {
    grid-area: 1 / 1 / -1 / -1;
    width: 100px;
    height: 100px;
    border-radius: 35px;
  }

  svg {
    padding: 34px;
    color: var(--c-black-300);
    background-color: #FFFFFFAA;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.1s;
  }
}

.title {
  margin-top: var(--sp-16);
  width: 0;
  line-height: 1.35;
  font-family: YS-Text, sans-serif;
  font-size: var(--sp-24);
  font-weight: 300;
  transform: skew(-1deg);
}
