.wrapper {
  padding: 15px 0;
  margin: 0 15px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: grid;
  align-items: center;
  pointer-events: none;

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 32px 0;
  }
}

.container {
  flex-grow: 1;
  padding: var(--sp-36) var(--sp-24);
  height: 350px;
  width: 100%;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--c-def-white);
  pointer-events: all;

  .loadingErrorIcon {
    margin: -20px auto 0;
  }
}

.buttonClose {
  margin-top: var(--sp-12);
  position: relative;
  display: block;
  margin-left: auto;
  margin-bottom: -14px;
}

.title {
  margin-bottom: var(--sp-24);
  font-size: var(--sp-28);
  font-weight: 500;
  text-align: center;
}

.subtitle {
  margin-bottom: var(--sp-24);
  text-align: center;
}

.successContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  p {
    text-align: center;

    &:nth-of-type(1) {
      margin-top: var(--sp-36);
    }

    &:nth-of-type(2) {
      margin-top: var(--sp-16);
    }

    &:nth-of-type(3) {
      flex-grow: 1;
      margin-top: var(--sp-36);
    }
  }

  span {
    color: var(--c-def-blue);
  }

  button {
    width: 100%;
    padding: var(--sp-12);
    color: var(--c-def-white);
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--c-def-blue);
  }
}

@media (max-width: 767.98px) {
  .buttonClose {
    position: relative;
    display: block;
    margin-left: auto;
    margin-bottom: var(--sp-16);
  }

  .title {
    font-size: var(--sp-22);
  }

  .container {
    height: 380px;
    padding: var(--sp-28) var(--sp-18);
  }
}
