@import "../../app/styles/vars.scss";
@import "/src/app/fonts/fonts.scss";
.container {
  width: 100%;
  background: $c-gray;
  height: 84px;
  padding: $sp-20 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  .main {
    max-width: 1032px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar {
      display: flex;
      align-items: center;
    }
  }
}
