@import "../../app/styles/vars.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // padding: 20px;
  box-sizing: border-box;
}

.filterBlock {
  margin-bottom: 20px;
}

.cardsBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.allEvents {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
