@keyframes preloader-inside-white {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes preloader-inside-red {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  30% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 0;
  .containerPreloader {
    width: 30px;
    height: 30px;
    position: relative;
  }
  .preloaderRound {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: #073042;
    border-radius: 30px;
  }
  .preloaderRound::after,
  .preloaderRound::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
  }
  .preloaderRound::after {
    background: white;
    animation: preloader-inside-white 1s ease-in-out infinite;
  } 
  .preloaderRound::before {
    z-index: 10;
    background: #073042;
    animation: preloader-inside-red 1s ease-in-out infinite;
  }
}