.container {
  display: flex;
  padding: var(--sp-36) var(--sp-24);
  background-color: var(--c-def-white);
  border: 1px solid var(--c-gray);
  box-shadow: 2px 2px 12px 0 rgba(36, 47, 123, 0.15);
  border-radius: 20px;
  flex-direction: column;
  width: 384px;
  position: relative;
  gap: var(--sp-16);

  .titleBlock {
    .icon {
      position: absolute;
      top: 25px;
      right: 30px;
      width: 24px;
      height: 24px;
      padding: 5px;
      cursor: pointer;
    }
    .title {
      font-family: "YS-Display";
      font-size: 34px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 8px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
    .inputBlock {
      display: flex;
      flex-direction: column;
      max-width: 326px;
      width: 100%;
      gap: 4px;
      label {
        font-family: "YS-Text";
        font-weight: 500;
        position: relative;
      }
      .input {
        padding: var(--sp-12);
        border-radius: var(--sp-12);
        border: 1px solid var(--c-str-medium);
      }
      .eyeIcon {
        position: absolute;
        top: 210px;
        right: 36px;
      }
      .eyeIconWithError {
        position: absolute;
        top: 228px;
        right: 36px;
      }
      .errorInput {
        @extend .input;
        border: 1px solid var(--c-er-red);
      }
      .error {
        font-family: "YS-Text";
        font-size: var(--sp-13);
        color: var(--c-er-red);
      }
    }
    .button {
      width: 100%;
      padding: var(--sp-12);
      border-radius: 8px;
      background-color: var(--c-def-blue);
      outline: none;
      border: none;
      color: var(--c-def-white);
    }
  }
  .lineBlock {
    display: flex;
    max-width: 334px;
    width: 100%;
    gap: 8px;
    align-items: center;
    font-size: var(--sp-13);
    color: var(--c-black-500);
    .line {
      border: 1px solid var(--c-black-100);
      max-width: 149px;
      width: 100%;
      height: 1px;
    }
  }
  .buttonBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .buttonYandex {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--c-def-white);
      outline: none;
      border: none;
      border-radius: 8px;
      gap: 4px;
      padding: var(--sp-12);
      background-color: var(--c-def-black);
    }
    .buttonRegister {
      @extend .buttonYandex;
      background: var(--c-def-white);
      border: 1px solid var(--c-def-blue);
      color: var(--c-def-blue);
      font-family: "YS-Text";
      font-weight: 500;
    }
    margin-bottom: 8px;
  }
  .loginProblem {
    font-family: "YS-Text";
    font-size: var(--sp-13);
    color: var(--c-black-500);
    text-align: center;
  }
}
.containerReset {
  position: fixed;
  visibility: visible;
  width: 100%;
  opacity: 1;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  transition: visibility 0s, opacity 0.5s linear;
  box-sizing: border-box;
}
.popupBlock {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  visibility: hidden;
  transition: 0.5s linear;
  opacity: 0;
}
.resetTrue {
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
  width: calc(100% - 2*24px);
  min-width: 300px;
  text-align: center;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    span {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 4px;
    }
    .resetPasswordTrue_email {
      color: var(--c-def-blue);
    }
  }
  .resetPassword_span {
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      border-radius: 8px;
      gap: 4px;
      padding: var(--sp-12);
      background: var(--c-def-blue);
      color: var(--c-def-white);
      font-family: "YS-Text";
      font-weight: 500;
    }
  }
}

.buttonResetPassword{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "YS-Text";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  width: 100%;
  border: none;
  background-color: var(--c-def-white);
  color: var(--c-def-blue);
  cursor: pointer;
}
.element {
  display: flex;
  width: 100%;
  gap: 8px;
  .container_checkbox {
    max-width: var(--sp-16);
    max-height: var(--sp-16);
    width: 100%;
    height: 100%;
    cursor: pointer;
    .customCheckBox {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: var(--sp-24);
      max-height: var(--sp-24);
      width: 100%;
      height: 100%;
      background: var(--c-def-white);
      border: 1px solid var(--c-str-dark);
      border-radius: 4px;
      img {
        width: 13px;
        height: 13px;
      }
    }
  }
  .agreement {
    font-size: var(--sp-13);
    color: var(--c-black-500);
    span {
      font-size: var(--sp-13);
      color: var(--c-def-blue);
    }
  }
}
.containerCenter {
  @extend .container;
  align-items: center;
}
.registationTrue {
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
  max-width: 300px;
  width: 100%;
  text-align: center;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    span {
      display: flex;
      justify-content: center;
      gap: 4;
    }
    .registationTrue_email {
      color: var(--c-def-blue);
    }
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      border-radius: 8px;
      gap: 4px;
      padding: var(--sp-12);
      background: var(--c-def-blue);
      color: var(--c-def-white);
      font-family: "YS-Text";
      font-weight: 500;
    }
    .again {
      @extend .button;
      background: var(--c-def-white);
      color: var(--c-def-blue);
      border: 1px solid var(--c-def-blue);
    }
  }
}
