@import "../../app/styles/vars.scss";
.wrapper {
  max-width: 1032px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: column;
    gap: $sp-32;
    .header {
      display: flex;
      justify-content: space-between;
      max-height: 40px;

      .title {
        font-family: "YS-D-Medium";
        font-size: $sp-34;
        font-weight: 500;
      }
      .button {
        max-width: 328px;
        width: 100%;
        padding: $sp-12;
        border-radius: 8px;
        border: none;
        outline: none;
        background: $c-def-blue;
        color: $c-def-white;
        cursor: pointer;
      }
    }
    .allEvents {
      display: flex;
      gap: $sp-24;
      flex-wrap: wrap;
    }
  }
}
