@import "../../../app/styles/vars.scss";
.name_form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    font-weight: 500;
    font-family: "YS-T-Medium";
    span {
      color: $c-def-blue;
    }
  }
  input {
    padding: $sp-16;
    border: 1px solid $c-str-medium;
    outline: none;
    border-radius: $sp-12;
  }
  span {
    font-family: "YS-T-Regular";
    font-size: $sp-13;
    color: $c-black-500;
  }
}
