@import "../../../app/styles/vars.scss";
.container_selectInput {
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
  gap: 4px;
  .star {
    color: $c-def-blue;
  }
  .required {
    font-family: "YS-T-Regular";
    font-size: $sp-13;
    color: $c-black-500;
  }
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  outline: none;
  border: 1px solid $c-str-medium;
  border-radius: 12px;
  gap: 8px;
  max-height: 52px;
}

.options {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 3;
}

.option {
  padding: 8px 16px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}
.technology {
  display: flex;
  flex-direction: column;
  margin-top: $sp-16;
  gap: $sp-16;
  .element {
    display: flex;
    height: 24px;
    width: 130px;
    gap: 12px;
    align-items: center;
  }
}
