// Main vars

$c-def-black: #1a1b22;
$c-black-500: #797981;
$c-black-300: #b5b5b7;
$c-black-100: #dde0e4;
$c-grey: #f9fafb;
$c-def-white: #ffffff;
$c-def-button: #5a9bff;
$c-def-blue: #1d6bf3;
$c-bg-blue: #f1f6ff;
$c-def-bg: #fbfcff;
$c-er-red: #ff0200;

// Stroke

$c-str-light: #e3ebff;
$c-str-medium: #8dbffb;
$c-str-dark: #242f7b;

// Chips
$c-ch-act-blue: #4989f9;
$c-ch-act-purple: #b15aee;
$c-ch-act-pink: #f25d9e;
$c-ch-act-orange: #ff8834;
$c-ch-act-yellow: #ffea30;
$c-ch-act-green: #a8f55b;

$c-ch-def-blue: #4989f940;
$c-ch-def-purple: #b15aee40;
$c-ch-def-pink: #f25d9e40;
$c-ch-def-orange: #ff883440;
$c-ch-def-yellow: #ffea3040;
$c-ch-def-green: #a8f55b40;

//optional
$c-opt-green-m: #87cc9e;
$c-opt-green: #01c843;
$c-opt-orange: #ffce92;
$c-opt-purple: #7f67d2;
$c-opt-green-l: #c2e5ce;
$c-opt-purple-l: #ccc2ed;
$c-opt-orange-l: #ffe1bd;
$c-opt-rose-l: #ffdde5;
$c-opt-yellow-l: #fff9d3;
$c-opt-pink-l: #ffbffdde;
$c-opt-brown-l: #a9917542;
$c-opt-blue-l: #acccff;

$sp-12: 12px;
$sp-16: 16px;
$sp-18: 18px;
$sp-20: 20px;
$sp-22: 22px;
$sp-24: 24px;
$sp-28: 28px;
$sp-32: 32px;
$sp-36: 36px;
$sp-40: 40px;
