.buttonsBlock {
  width: 100%;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: var(--sp-18) var(--sp-36);
}

.buttonDeleteProfile {
  padding: var(--sp-12) 0;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid var(--c-def-blue);
  color: var(--c-def-blue);
}

.buttonResetPassword {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  width: 100%;
  border: none;
  background-color: var(--c-def-white);
  color: var(--c-def-blue);
}

.titleConfirm {
  margin-bottom: var(--sp-24);
  font-size: var(--sp-24);
  font-weight: 400;
  text-align: center;
}

.buttonConfirm {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  background-color: var(--c-def-blue);
  color: var(--c-def-white);
}
