@import "../../app/styles/vars.scss";
.formSection{
  min-width: calc(100% - 2*20px);
  display: flex;
  flex-direction: column;
  gap: $sp-28;
  align-items: start;
  visibility: visible;
  position: relative;
  opacity: 1;
  .filterCheckbox {
    display: flex;
    gap: $sp-12;
    .filterCheckbox_subtitle {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.38;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .filterCheckbox_toggle {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 20px;
      margin: 0 14px 0 0;
    }
    .filterCheckbox_input {
      display: none;
    }
    .filterCheckbox_slider {
      position: absolute;
      padding: 0;
      margin: 0;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:#FFFFFF;
      border: solid 1px #242F7B;
      transition: .4s;
      border-radius: 20px;
    }
    .filterCheckbox_slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 2px;
      transition: .4s;
      border-radius: 50%;
      background-color:#065CF3;
    }
    .filterCheckbox_input:checked + .filterCheckbox_slider:before {
      background-color:#FFFFFF;
      transform: translateX(14px);
    }
    .filterCheckbox_input:checked + .filterCheckbox_slider {
      background-color:#065CF3;
    }
  }
  .notificationsBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: $sp-20;
  }
  .notificationsBlockHide {
    visibility: hidden;
    display: block;
    opacity: 0;
    position: absolute;
  }
}
.formSectionHide {
  visibility: hidden;
  display: block;
  opacity: 0;
  position: absolute;
}
.buttonBlock {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  .submit {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $sp-12 0;
    border: none;
    border-radius: 8px;
    background-color: $c-def-blue;
    color: $c-def-white;
    cursor: pointer;
  }
  .disabled {
    @extend .submit;
    background-color: $c-black-300;
    color: $c-def-white;
    cursor: not-allowed;
  }
}

.element {
  display: flex;
  width: 100%;
  align-items: center;
  .element_checkboxBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .element_subtitle {
    font-weight: 500;
    font-family: "YS-T-Medium";
    font-size: 18px;
    line-height: 1.33;
  }
}
.container_selectInput {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  .star {
    color: $c-def-blue;
  }
  .required {
    font-family: "YS-T-Regular";
    font-size: $sp-13;
    color: $c-black-500;
  }
}
.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $sp-16;
  cursor: pointer;
  outline: none;
  border: 1px solid $c-str-medium;
  border-radius: $sp-12;
  gap: 8px;
  max-height: 52px;
}

.options {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 3;
}

.option {
  padding: 8px $sp-16;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.container_checkbox {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  .customCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: $c-def-white;
    border: 1px solid $c-str-dark;
    border-radius: 4px;
  }
  span {
    font-weight: 500;
    font-family: "YS-T-Medium";
    font-size: 16px;
    line-height: 1.25;
  }
}
.error {
  font-family: "YS-T-Regular";
  font-size: $sp-13;
  color: $c-er-red;
}