.row {
  margin-bottom: var(--sp-36);
  display: flex;
  align-items: center;

  h3 {
    font-weight: 400;
    color: var(--c-black-500);
  }
}

.title {
  margin-top: 25px;
  margin-bottom: 2px;
}

.toggleButton {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 0 14px 0 0;

  input {
    appearance: none;

    &:checked + span {
      background-color: var(--c-def-blue);
      border-color: var(--c-def-blue);

      &:before {
        background-color: var(--c-def-white);
        transform: translateX(14px);
      }
    }
  }

  span {
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 20px;
    border: solid 1px var(--c-str-dark);
    cursor: pointer;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 2px;
      transition: 0.4s;
      border-radius: 50%;
      background-color: var(--c-black-500);
    }
  }
}

.notificationBlock {
  transition: opacity 0.1s ease;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;

  &.enabled {
    user-select: unset;
    pointer-events: all;
    opacity: 1;
  }
}


