@import "../../app/styles/vars.scss";
.container {
  display: flex;
  padding: $sp-36 $sp-24;
  background-color: $c-def-white;
  border: 1px solid $c-gray;
  box-shadow: 2px 2px 12px 0px rgba(36, 47, 123, 0.15);
  border-radius: 20px;
  flex-direction: column;
  max-width: 384px;
  width: 100%;
  position: relative;
  gap: $sp-16;

  .titleBlock {
    .icon {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }
    .title {
      font-family: "YS-D-Medium";
      font-size: 34px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 8px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
    .inputBlock {
      display: flex;
      flex-direction: column;
      max-width: 326px;
      width: 100%;
      gap: 4px;
      label {
        font-family: "YS-T-Medium";
        font-weight: 500;
        position: relative;
      }
      .input {
        padding: $sp-12;
        border-radius: $sp-12;
        border: 1px solid $c-str-medium;
      }
      .eyeIcon {
        position: absolute;
        top: 210px;
        right: 36px;
      }
      .eyeIconWithError {
        position: absolute;
        top: 228px;
        right: 36px;
      }
      .errorInput {
        @extend .input;
        border: 1px solid $c-er-red;
      }
      .error {
        font-family: "YS-T-Regular";
        font-size: $sp-13;
        color: $c-er-red;
      }
    }
    .forgotPasswod {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      span {
        font-family: "YS-T-Regular";
        font-size: $sp-13;
        color: $c-def-blue;
        margin-bottom: 8px;
      }
    }
    .button {
      width: 100%;
      padding: $sp-12;
      border-radius: 8px;
      background-color: $c-def-blue;
      outline: none;
      border: none;
      color: $c-def-white;
    }
  }
  .lineBlock {
    display: flex;
    max-width: 334px;
    width: 100%;
    gap: 8px;
    align-items: center;
    font-size: $sp-13;
    color: $c-black-500;
    .line {
      border: 1px solid $c-black-100;
      max-width: 149px;
      width: 100%;
      height: 1px;
    }
  }
  .buttonBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .buttonYandex {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $c-def-white;
      outline: none;
      border: none;
      border-radius: 8px;
      gap: 4px;
      padding: $sp-12;
      background-color: $c-def-black;
    }
    .buttonRegister {
      @extend .buttonYandex;
      background: $c-def-white;
      border: 1px solid $c-def-blue;
      color: $c-def-blue;
      font-family: "YS-T-Medium";
      font-weight: 500;
    }
    margin-bottom: 8px;
  }
  .loginProblem {
    font-family: "YS-T-Regular";
    font-size: $sp-13;
    color: $c-black-500;
    text-align: center;
  }
}
.element {
  display: flex;
  width: 100%;
  gap: 8px;
  .container_checkbox {
    max-width: $sp-16;
    max-height: $sp-16;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .customCheckBox {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: $sp-24;
      max-height: $sp-24;
      width: 100%;
      height: 100%;
      background: $c-def-white;
      border: 1px solid $c-str-dark;
      border-radius: 4px;
      img {
        width: 13px;
        height: 13px;
      }
    }
  }
  .agreement {
    font-size: $sp-13;
    color: $c-black-500;
    span {
      font-size: $sp-13;
      color: $c-def-blue;
    }
  }
}
