@import "../../app/styles/vars.scss";
.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 111px;
  font-size: 13px;
  border-radius: 12px;
  max-height: 24px;
  height: 100%;
  font-weight: 400;
  padding: 4px 12px;
  gap: 4px;
  color: $c-def-white;
  border: 1px solid transparent;
  cursor: pointer;
  &.blue {
    &:hover {
      border: 1px solid $c-ch-act-blue;
    }
  }
  &.purple {
    &:hover {
      border: 1px solid $c-ch-act-purple;
    }
  }
  &.pink {
    &:hover {
      border: 1px solid $c-ch-act-pink;
    }
  }
  &.green {
    &:hover {
      border: 1px solid $c-ch-act-green;
    }
  }
  &.orange {
    &:hover {
      border: 1px solid $c-ch-act-orange;
    }
  }
  &.yellow {
    &:hover {
      border: 1px solid $c-ch-act-yellow;
    }
  }
}
