@import "../../app/styles/vars.scss";

.chip {
  padding: 4px 10px;
  font-size: $sp-13;
  color: $c-def-black;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $sp-12;
  background-color: #4989f940;

  &.active {
    background-color: #4989f9;
    color: $c-def-white;
  }

  &:hover {
    border: 1px solid $c-ch-act-blue;
  }
}
