.header {
  background: var(--c-str-dark);
  color: var(--c-def-white);
  box-shadow: 0 5px 5px -3px #00000011;
}

.container {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "YS-Display", sans-serif;
  font-size: var(--sp-28);
  font-weight: 400;
}

.buttonMenu {
  padding: 5px 0 5px 5px;
  display: flex;
  align-items: center;
  gap: var(--sp-12);
  font-size: 22px;
  color: var(--c-def-white);
  font-family: YS-Display, sans-serif;
}

.avatar {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}

.popOver {
  padding: 25px 50px 25px 80px;
  display: grid;
  justify-items: end;
  gap: 5px;
  background: var(--c-str-dark);

  a {
    padding: 10px 5px;
    font-family: "YS-Display", sans-serif;
    color: var(--c-def-white);
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.6px;

    &:hover {
      color: var(--c-str-medium);
    }
  }
}

@media (max-width: 1199.98px) {
  .title {
    font-size: var(--sp-24);
  }

  .buttonMenu {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: var(--sp-22);
  }

  .buttonMenu {
    gap: 8px;
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .title {
    font-size: 20px;
  }

  .buttonMenu {
    font-size: 15px;
  }
}
