@import "../../app/fonts/fonts.scss";
@import "../../app/styles/vars.scss";
.container {
  display: flex;
  flex-direction: column;
  gap: $sp-32;
  .title {
    font-family: "YS-T-Medium";
    font-size: $sp-24;
    font-weight: 500;
  }
  .cardContainer {
    display: flex;
    gap: $sp-24;
  }
}
