.onlineButton {
  padding: 0 15px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--c-black-500);
  border: 1px solid var(--c-str-medium);

  &.active {
    background: var(--c-def-blue);
    color: var(--c-def-white);
  }
}