.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.inputBlock {
  flex-grow: 1;

  h3 {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    padding: 11px;
    width: 100%;
    border: 1px solid var(--c-str-medium);
    outline-color: var(--c-str-medium);
    border-radius: 8px;

    &.error {
      border-color: var(--c-er-red);
    }

    &:disabled {
      border: 1px solid var(--c-black-300);
      background-color: var(--c-black-100);
    }
  }
}

.errorMessage {
  font-size: 13px;
  color: var(--c-er-red);
}

.buttonSubmit {
  padding: var(--sp-12);
  color: var(--c-def-white);
  border-radius: 8px;
  background-color: var(--c-def-blue);
}
