@import "../../app/styles/vars.scss";
.list {
  display: flex;
  gap: 20px;
  list-style: none;
  .element {
    color: $c-str-medium;
    border-bottom: 1px solid $c-str-medium;

    cursor: pointer;
    font-family: "YS-D-Regular";
    font-weight: 400;
    font-size: $sp-24;
  }
  .active {
    color: $c-def-black;
    font-family: "YS-D-Medium";
    border-bottom: 1px solid $c-str-dark;
    font-weight: 500;
    font-size: $sp-24;
  }
}
