.buttonsList {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.button {
  height: 45px;
  width: 100%;
  display: block;
  color: var(--c-black-500);
  border-radius: 8px;
  border: 1px solid var(--c-str-medium);

  &.active {
    color: var(--c-def-blue);
  }

  &:disabled {
    color: var(--c-black-300);
    border: 1px solid var(--c-black-300);
    cursor: not-allowed;
  }

  svg {
    margin: 0 auto;
    vertical-align: middle;
    pointer-events: none;
  }
}


