@import "../../app/styles/vars.scss";
.form {
  min-width: calc(100% - 2*20px);
  display: flex;
  flex-direction: column;
  gap: $sp-24;
  visibility: visible;
  opacity: 1;
  .form_container {
    display: flex;
    flex-direction: column;
    gap: $sp-16;
  }
  .name_form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 4px;
    label {
      font-weight: 500;
      font-family: "YS-T-Medium";
      span {
        color: $c-def-blue;
      }
    }
    .inputBlock {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: $sp-12;
      border: 1px solid $c-str-medium;
      input {
        width: calc(100% - 40px);
        padding: $sp-16 0 $sp-16 $sp-16;
        outline: none;
        border: none;
        border-radius: $sp-12;
      }
      .errorInput {
        border: 1px solid $c-er-red;
      }
      .buttonInput {
        width: 24px;
        height: 24px;
        background-color: $c-def-white;
        background-image: url("../../app/assets/icons/close_form-profile.svg");
        justify-content: center;
        background-position: 50% 50%;
        background-size: 100%;
        border-radius: none;
        margin: 0;
        border: none;
      }
    }
    .message {
      font-family: "YS-T-Regular";
      font-size: $sp-13;
      color: $c-black-500;
    }
  }

  .element {
    display: flex;
    height: $sp-24;
    width: 130px;
    gap: $sp-12;
    align-items: center;
  }
}
.formHide {
  visibility: hidden;
  display: block;
  opacity: 0;
  position: absolute;
}
.buttonBlock {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .submit {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.25;
    padding: $sp-12 0;
    border: none;
    border-radius: 8px;
    background-color: $c-def-blue;
    color: $c-def-white;
    cursor: pointer;
  }
  .disabled {
    @extend .submit;
    background-color: $c-black-300;
    color: $c-def-white;
    cursor: not-allowed;
  }
}
.container_selectInput {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  .star {
    color: $c-def-blue;
  }
  .required {
    font-family: "YS-T-Regular";
    font-size: $sp-13;
    color: $c-black-500;
  }
}

.customSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $sp-16;
  cursor: pointer;
  outline: none;
  border: 1px solid $c-str-medium;
  border-radius: $sp-12;
  gap: 8px;
  max-height: 52px;
  background-color: $c-def-white;
}

.options {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 3;
}

.option {
  padding: 8px $sp-16;
  cursor: pointer;
}

.optionHide {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.option:hover {
  background-color: #f0f0f0;
}
.technology {
  display: flex;
  flex-direction: column;
  margin-top: $sp-16;
  gap: $sp-16;
  .element {
    display: flex;
    height: 24px;
    width: 130px;
    gap: 12px;
    align-items: center;
  }
}
.container_checkbox {
  max-width: $sp-24;
  max-height: $sp-24;
  width: 100%;
  height: 100%;
  cursor: pointer;
  .customCheckBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $sp-24;
    max-height: $sp-24;
    width: 100%;
    height: 100%;
    background: $c-def-white;
    border: 1px solid $c-str-dark;
    border-radius: 4px;
  }
}
.error {
  font-family: "YS-T-Regular";
  font-size: $sp-13;
  color: $c-er-red;
}

.agreementBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin: 8px 0px;
  .agreement {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .agreement_text {
      gap: $sp-12;
      display: flex;
      p {
        max-width: 538px;
        width: 100%;
      }
    }
    span {
      font-family: "YS-T-Regular";
      font-size: $sp-13;
      color: $c-black-500;
    }
  }
}
