@font-face {
  font-family: "YS-D-Bold";
  src: url("./YS-Display-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "YS-D-Heavy";
  src: url("./YS-Display-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "YS-D-Light";
  src: url("./YS-Display-Light.ttf") format("truetype");
}
@font-face {
  font-family: "YS-D-Medium";
  src: url("./YS-Display-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "YS-D-Regular";
  src: url("./YS-Display-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "YS-D-Thin";
  src: url("./YS-Display-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Bold-i";
  src: url("./YS-Text-Bold-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Ligth-i";
  src: url("./YS-Text-Light-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Ligth";
  src: url("./YS-Text-Light.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Medium-i";
  src: url("./YS-Text-Medium-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Medium";
  src: url("./YS-Text-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Regular-i";
  src: url("./YS-Text-Regular-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "YS-T-Regular";
  src: url("./YS-Text-Regular.ttf") format("truetype");
}
