{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
    <div class="container-fluid">
        <h1 class="mt-4">Список спикеров</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Фото</th>
                    <th>Имя</th>
                    <th>Информация</th>
                    <th>Специализация</th>
                </tr>
            </thead>
            <tbody>
                {% for speaker in speakers %}
                    <tr>
                        <td>
                            {% if speaker.foto %}
                                <img src="{{ speaker.foto.url }}" alt="{{ speaker.name }}" width="50">
                            {% else %}
                                <p>Фотография не доступна</p>
                            {% endif %}
                        </td>
                        <td>{{ speaker.name }}</td>
                        <td>{{ speaker.info }}</td>
                        <td>{{ speaker.specialization }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Нет доступных спикеров.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
